[Desktop Entry]
Name=Tides of War Exporter (Terminal)
Comment=Tool to help with the development of Tides Tides of War
Exec=/home/rubsz/tiled/Tides_of_War/dev/ToW_tool/main.py
Icon=/home/rubsz/tiled/Tides_of_War/dev/ToW_tool/icon.png
Type=Application
StartupNotify=false
Terminal=true
Categories=Development
